body {
    background-color: #fce4ec;
    font-family: Arial;
    padding: 40px;
}

h1 {
    color: #c2185b;
    font-size: 45px;
    text-align: center;
}

img {
    width: 400px;
    max-width: 100%;
    border-radius: 10px;
    margin: 20px 0;
}